{# blog/blog-list.html #}
{% extends 'blog/blog-base.html' %}
{% load static %}

<!-- === BEGIN CONTENT === -->
{% block blog_content %}
            <!-- Blog Main List -->
                <!-- Blog Item -->
                {% for article in context_article_list %}
                <div class="blog-post padding-bottom-30">
                    <!-- Blog Item Header -->
                    <div class="blog-item-header">
                        <!-- Title -->
                        <h2>
                              <a href="{% url 'blog:article' article.pk %}"> {{ article.title }} </a>
                        </h2>
                        <div class="clearfix"></div>
                        <!-- End Title -->
                        <!-- Date -->
                        <div class="blog-post-date">
                            <a href="#">
                                {{ article.created_time|date:'jS M, Y' }}
                            </a>
                        </div>
                        <!-- End Date -->
                    </div>
                    <!-- End Blog Item Header -->
                    <!-- Blog Item Details -->
                    <div class="blog-post-details">
                        <!-- Tags -->
                        <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
                            <i class="fa fa-tag color-gray-light"></i>
                            {% for tag in article.tag.all %}
                                <a href="#">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <!-- End Tags -->
                        <!-- # of Comments -->
                        <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last">
                            <a href="">
                                <i class="fa fa-eye color-gray-light"></i>
                                0 Views
                            </a>
                        </div>
                        <!-- End # of Comments -->
                    </div>
                    <!-- End Blog Item Details -->
                    <!-- Blog Item Body -->
                    <div class="blog">
                        <div class="clearfix"></div>
                        <div class="blog-post-body row margin-top-15">
                            <div class="col-md-5">
                                <img class="margin-bottom-20" src="{{ MEDIA_URL }}{{ ckeditor_folder }}{{ article.created_time|date:'Y/m/d/' }}Title.jpg">
                            </div>
                            <div class="col-md-7">
                                <p>{{article.excerpt |safe}}</p>
                                <!-- Read More -->
                                <a href="{% url 'blog:article' article.pk %}" class="btn btn-primary">
                                    Read More
                                    <i class="icon-chevron-right readmore-icon"></i>
                                </a>
                                <!-- End Read More -->
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Item Body -->
                </div>
                {% endfor %}
                <!-- End Blog Item -->

                <!-- Pagination -->
                {% if page_obj.has_previous or page_obj.has_next %}
                <ul class="pagination">
                    <!-- Pagination for previous check -->
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="{{ request.path }}?browse={{ browse_type }}&page=1">&laquo;</a>
                    </li>
                    <li>
                        <a href="{{ request.path }}?browse={{ browse_type }}&page={{ page_obj.previous_page_number }}">Prev</a>
                    </li>
                    {% else %}
                    <li class="disabled"><a>&laquo;</a></li>
                    <li class="disabled"><a>Prev</a></li>
                    {% endif %}
                    <!-- End Pagination for previous check -->
                    <!-- Pagination for list generation -->
                    {% for page in page_obj.paginator.page_range %}
                    <li {% if page_obj.number == page %} class="active" {% endif %}>
                        <a href="{{ request.path }}?browse={{ browse_type }}&page={{ page }}"> {{ page }}</a>
                    </li>
                    {% endfor %}
                    <!-- End Pagination for list generation -->
                    <!-- Pagination for next check -->
                    {% if page_obj.has_next %}
                    <li>
                        <a href="{{ request.path }}?browse={{ browse_type }}&page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li>
                        <a href="{{ request.path }}?browse={{ browse_type }}&page={{ paginator.num_pages }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled"><a>Next</a></li>
                    <li class="disabled"><a>&raquo;</a></li>
                    {% endif %}
                    <!-- End Pagination for next check -->
                </ul>
                {% endif %}
                <!-- End Pagination -->
            <!-- End Blog Main List -->
{% endblock %}
<!-- === END CONTENT === -->
