{# blog/blog-article.html #}
{% extends 'blog/blog-base.html' %}
{% load static %}
{% load disqus_tags %}

<!-- === BEGIN HEADER === -->
{% block import_css_file %}
<!-- CKEditor Plugins -->
<link rel="stylesheet" type="text/css" href="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism.css' %}">
{% endblock %}
<!-- === END HEADER === -->

<!-- === BEGIN CONTENT === -->
{% block blog_content %}
                <!-- Blog Post -->
                <div class="blog-post">
                    <div class="blog-item-header">
                        <h2>
                            <a href="#">
                                {{ context_article.title }}
                            </a>
                        </h2>
                        <!-- Date -->
                        <div class="blog-post-date">
                            <a href="#">
                                {{ context_article.created_time|date:'jS M, Y' }}
                            </a>
                        </div>
                        <!-- End Date -->
                    </div>
                    <div class="blog-post-details">
                        <!-- Tags -->
                        <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
                            <i class="fa fa-tag color-gray-light"></i>
                            {% for tag in context_article.tag.all %}
                                <a href="#">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <!-- End Tags -->
                        <!-- # of Comments -->
                        <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last">
                            <a href="">
                                <i class="fa fa-eye color-gray-light"></i>
                                {{views}} Views
                            </a>
                        </div>
                        <!-- End # of Comments -->
                    </div>
                    <div class="blog-item">
                        <div class="clearfix"></div>
                        <div class="blog-post-body row margin-top-15">
                            <div class="col-md-12">
                            {{ context_article.body|safe }}
                            </div>
                        </div>
                        <div class="blog-item-footer">
                            <h1>Comments</h1>
                            <div class="blog-comment-heading"></div>
                            <!-- Comments -->
                            {% disqus_show_comments %}  
                            <!-- End Comments -->
                        </div>
                    </div>
                </div>
                <!-- End Blog Post -->
{% endblock %}
<!-- === END CONTENT === -->


<!-- === BEGIN FOOTER === -->
<!-- JS -->
{% block import_js_file %}
<!-- CKEditor Config/Plugins -->
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<!-- Disqus Config/Plugins -->
<script type="text/javascript" src="http://disqus.com/forums/arthurkozielsblog/embed.js"></script>
{% endblock %}
<!-- End JS -->
<!-- === END FOOTER === -->
